*.o
*.a
src/*.asyncified
src/choose
src/chpst
src/compile
src/direntry.h
src/hasflock.h
src/hasmkffo.h
src/hassgact.h
src/hassgprm.h
src/haswaitp.h
src/iopause.h
src/load
src/makelib
src/reboot_system.h
src/runit
src/runit-init
src/runit-init-test
src/runsv
src/runsvdir
src/select.h
src/socket.lib
src/sv
src/svlogd
src/sysdeps
src/systype
src/uint64.h
