usage: svlogd [-tttvL] [-r c] [-R abc] [-l len] [-b buflen] dir ...

111
$Id: c7ba6e588d523fb41ffdf0b4d027b40c9df518bd $
usage: svlogd [-tttvL] [-r c] [-R abc] [-l len] [-b buflen] dir ...

111
0
foo
0
foo
bar
baz
0
foo
bar
baz
:oo
:ar
:az
0
